@import '_reset';

.App{
    background: #ebf3f2;
    width: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border-radius: 15px;

    h2{
        color: #000;
        font-size: 4rem;
        text-align: center;
        width: 100%;
        height: 50%;

    }
    form{
        
    }
}