# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
../css
.././css
.env
server/blobs
server/audio
aboba-ai-ce22fbaafa2a.json
aboba-ai-534b5135ee55.json
client_secret_902102835746-6ttal96c9djtj2pa9d2ccdns5n7ajueb.apps.googleusercontent.com.json